.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapse__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--white);
  font-weight: 500;
  border: none;
  padding: 1.3rem 2rem;
  font-size: 1.3rem;
}

.collapse__icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.collapse__icon--open {
  transform: rotate(180deg);
}

.collapse--open {
  margin-top: -1rem;
  padding:2.4rem  1.4rem 1.4rem;
  background: var(--secondary-color);
  border-radius: 5px;
  z-index: -1;
}

.collapse--open p {
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (min-width: 1240px) {
  .collapse__button {
    font-size: 1.8rem;
  }
  .collapse--open {
    padding:2.8rem 1.8rem 1.8rem;
  }
  .collapse--open p {
    font-size: 1.8rem;
  }
}
