.slider__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.slider {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-height: 255px;
}

.slider__img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  flex: 1;
}

.slider__arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 96%;
}

@media screen and (min-width: 1240px) {
  .slider {
    max-height: 415px;
  }
  .slider__arrow svg {
    width: 46.68px;
    height: 79.2px;
  }
}
